.countries {
  margin: 0 auto 230px;
  width: $desktop-full-width;

  @media (min-width: $desktop-width) and (max-width: 1233px) {
    width: 100%;
  }

  @media (max-width: 1023px) {
    margin-bottom: 80px;
    width: 100%;
    overflow: hidden;
  }

  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
}
